#fb_overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: scroll;
}

#fb_overlay_inner {
    position: relative;
    top: 10%;
    left: 50%;
	  width: 75%;
    font-size: 25px;
    text-shadow: 1px 1px 2px #000000;
    color: white;
    background-color: #219fc5a8;
    padding: 0.5rem;
	  max-width: 100%;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%, 0%);

}

#fb_navbar {
    background-color: black;
}

.fieldbook_ta {
  overflow: auto;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 18px;
  font: verdana;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
}

.fieldbook_textcontent {
	font-size: 18px;
}

.fieldbook_link {
	font-size: 18px;
}

#clear_fb_button {
  display: none;
}
@media (max-width: 1000px){
  #fb_overlay_inner {
    font-size: 16px;
  }
  .fieldbook_link, .fieldbook_textcontent {
    font-size: 13px;
  }
  .fieldbook_ta {
    font-size: 13px;
    line-height: 18px;
  }
}