body {
  position: relative; 
}
header {
  padding: 100px 0 50px;
  background:rgb(20, 160, 148)
}
section {
  padding-top:3%;
  padding-bottom:3%;
  padding-left: 5%;
  padding-right: 5%
}
#homepage-img {
  height: 100%;
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}