.parentdiv {
  height: 100vh;
  background-image: url(https://c.pxhere.com/photos/68/e9/forest_nature_outdoors_path_trees_woods-1170198.jpg!d);
  background-size: cover;
 }
 .topsection {
  position: relative;
  height: 10vh;
  min-height: 90px;
 }
 .navbarclass {
   margin: 20px;
   position: absolute;
   opacity: 0.9;
 }
 .logoclass {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0%;
  right: 2%;
 }
 .bannerpart {
  height: 10vh;
  padding-bottom: 5px;
  position: relative;
 }
 .textdiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
 }
 .textpart {
  fill: burlywood;
 }
 .mainsection {
  height: 80vh;
  padding-bottom: 20px;
 }
 .mapimage {
 opacity: 0.9;
 display: block;
 max-height: 100%;
 margin: 0 auto;
 width: 90%;
 border: 10px solid transparent;
 border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQi9FBtxkeaTlEcKujvUqW6INXjpR4KqQGN83CQEPQ8qTfcKcpy) 30 stretch;
 }
 