/* Google Icons
-------------------------------------------------- */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Custom CSS
-------------------------------------------------- */

/* Style for a bordered image */
.img-bordered {
  border:2px solid #343a40;
  border-radius: 10px;
  margin: auto
/*  background-color: black;*/
}

/* Navbar Style */
.nav_title {
  color: white;
  margin-right: 15px;
}

.vg_navbar{
  margin-bottom: 10px;
  z-index: 6;
}

#tb_button { /* hide sidebar button*/
  display: none;
}

/* Sticky footer styles
-------------------------------------------------- */ 
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: antiquewhite 
}
/* VG Layout Elements */
#control_bar{
  padding-right:10px;
  border: red;
}

#av_control{
  padding: 5px;
  text-align: center;
}

#nav_control{
  padding: inherit;
  margin: auto
}
#navbar {
  background-color: rgb(20, 160, 148)
}

.btn{
  margin-left: 5px;
}

h2#page_title {
  text-shadow: 4px 2px 10px white;
  color: black
}
#page_title {
  color: white;
  font-size: 30pt
}
#container1 {
  margin: auto
}
.jumbotron {
  background-color: rgb(20, 160, 148)
}
#mystery-content {
  position: relative;
  text-align: left;
}
.centered {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 2vw;
}
.nav-link {
  color: rgb(247, 9, 148);
  font-weight: bolder;
}
footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 6;
}
#main {
  position: relative;
  padding-bottom: 1%;
}
.carousel-caption {
  color: rgb(185, 30, 30)
}
.dd-drag {
  background: grey;
  border: solid;
  color: white;
  padding: 0.5em; 
}