.container-img {
    top: 12%;
    left: 20%;
    position: fixed;
    text-align: center;
    z-index: -1;
}

.container-2 {
    position: relative;
    text-align: center;
}

.white-box {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 80px 50px;
    box-sizing: border-box;
    display: inline-block;
}

.box-1 {
    top: 10%;
    right: 10%;
}

.img-on-board {
    position: absolute;
    width: 40%;
}

#PitCraterLedge {
    top: 2%;
    left: 3%;
}

#cactus {
    bottom: 2%;
    right: 30%;
}

#tortoise {
    top: 2%;
    right: 3%;
}

.modal-backdrop {
    z-index: -1;
}
.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 6;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

#espanola-imgs {
    top: 10%;
    left: 10%;
}