/* class for div that overlays and greys out the player - 
   so that we can't interact with it */
.videoOverlayActive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: 8;
  opacity: 0.2;
}

.videoOverlayInactive {
  display: none;
}
