.cls1 {
  fill: #2f2c4f;
}

.cls2 {
  fill: #334d82;
}

.cls3 {
  fill: #52062f;
}

.cls4 {
  fill: #b53333;
}

.cls5 {
  fill: #333;
}

.dnaDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 10px, auto;
}
