.imgBack {
    position: absolute;
    width: 160px;
    left: 10px;
    z-index: 1;
    bottom: 20px;
}
.imgNext {
    position: absolute;
    width: 160px;
    right: 10px;
    z-index: 1;
    bottom: 20px;
}
.imgBack:hover, .imgNext:hover {
    opacity: 0.7;
}
.imgBack:active, .imgNext:active {
    width: 140px;
}
.invisible {
    visibility: hidden
}
.mainDiv {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: blueviolet
}
