.dot {
  color: white;
  position: absolute;
  padding: 10px;
  background: black;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 0px;
  -webkit-transition: all 2s; /* Safari */
  transition: all 1s;
}

.dot:hover {
  text-indent: auto;
  width: auto;
  font-size: 12px;
  z-index: 1;
  border-radius: 0;
}
