.img {
  position: absolute;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-width: 15px;
}
.vid {
  position: absolute;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-width: 15px;
}
