.wordBank {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  top: 50px;
  left: 10px;
  width: 21%;
  height: 12.3%;
}
.wordBankHeader {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 21%;
  text-align: center;
}
.drag {
  flex-grow: 1;
  height: 33.33%;
  max-width: 50%;
  flex-grow: 1;
  background-color: rgb(32, 32, 34);
  border: 2px solid darkgoldenrod;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.drop {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  background-color: white;
  border: 2px solid darkgoldenrod;
  text-align: center;
  font-size: 14px;
  color: black;
}
.drop1 {
  top: 36.5%;
  right: 36.4%
}
.drop2 {
  top: 53%;
  right: 26%;
}
.drop3 {
  top: 64.5%;
  right: 4.5%;
}
.drop4 {
  top: 94.75%;
  right: 15%;
}
.drop5 {
  top: 76.5%;
  right: 61%;
}
.drop6 {
  top: 37.5%;
  right: 75.5%;
}
.invisible {
    visibility: hidden;
  }