.drag-drop-area {
  background-color: white !important;
  width: 100%;
  height: 50vw;
}

.dropbox {
  width: 150px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}

#drag-area {
  margin-left: 70%;
  width: 25vw; 
  height: 5vw; 
  border: 1px solid black;
  display: inline-block;
}

#drag-area p {
  position: relative;
  display: inline;
}

#drag2 {
  left: 20px;
}

#drag3 {
  top: 30px;
}

#drag4 {
  top: 30px;
}

#drag5 {
  top: 10px;
}

#drag6 {
  top: 30px;
}

.arrow {
  display: inline-block;
  font-size: 5vw;
  position: relative;
  bottom: 10px;
}

#myCanvas {
  width: 100%; 
}