/*.prev{
    opacity: 50%;
    transition: all .2s ease-in-out;
}
.prev:hover{
    opacity: 100%;
    transform: scale(1.1);
}
.next{
    opacity: 50%;
    transition: all .2s ease-in-out;
}
.next:hover{
    opacity: 100%;
    transform: scale(1.1);
}*/
