.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Content {
  transition: transform 200ms ease;
  transform: scale(0.8);
}

.ReactModalPortal .ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModalPortal .ReactModal__Content--before-close {
  transform: scale(0.8);
}
