button.button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  background-color: transparent;
  margin: 0 0.5em 0.5em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

button.button:hover {
  color: #dddddd;
  border-color: #dddddd;
}

button.button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
   button.button2 {
    display: block;
    margin: 0.4em auto;
  }
}

button.buttonOther {
  /* style reset */
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  /* for visibility in high contrast */
  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  /* display settings */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* visual styles */
  background-color: #3e68ff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  /* size */
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;

  /* text styles */
  text-align: center;
  line-height: 1.1;
}
