.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  min-width: 500px;
  min-height: 500px;
  margin: auto;
  position: relative;
  /* background-color: rgb(180, 240, 0, 0.6); */
  font-family: "Roboto";
}

.slideTitle {
  position: absolute;
  top: 10px;
  font-size: 1.5rem;
}

.dna {
  width: 100%;
  height: auto;
  /* background-color: rgb(10, 60, 60, 0.6); */
  font-size: 0.9rem;
}

.mutationsDiv {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
}

.mutationsTextbox {
  font-size: 0.6rem;
  /* background-color: rgba(200, 10, 230, 0.6); */
}

.mutationsTab {
  /* background-color: rgb(100, 0, 10, 0.6); */
  font-size: 0.5rem;
}

.dnaActivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
