/* General CSS */
.container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.center {
  position: absolute;
  height: 80%;
  max-width: 85vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid darkgoldenrod;
}
.center:focus {
  outline: 0;
}
.imgContainer {
  position: absolute;
  height: 80%;
  max-width: 85vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.imgContainer:focus { 
    outline: 0;
}
.imgFill {
  height: 100%;
  display: inline-block;
  border: 2px solid darkgoldenrod;
  max-width: 85vw;
}
.invisible {
  visibility: hidden;
}
/* Slide 6 */
.magnifying {
  position: absolute;
  left: 26%;
  bottom: 25%;
  top: 38.4%;
  width: 5%;
  z-index: 1;
}
.magnifying:hover {
  opacity: 0.7
}
/* 3dVista CSS */
.vista {
    position: absolute;
    height: 80%;
    width: 75%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid darkgoldenrod;
}
.vista:focus {
    outline: 0;
}
.leftVista {
  position: absolute;
  height: 80%;
  width: 35%;
  top: 10%;
  left: 15%;
  border: 2px solid darkgoldenrod;
}
.leftVista:focus {
  outline: 0;
}
.rightVista {
  position: absolute;
  height: 80%;
  width: 35%;
  top: 10%;
  left: 50%;
  border: 2px solid darkgoldenrod;
}
.rightVista:focus {
  outline: 0;
}
/* Optional 1 css */
.sliderDiv {
  position: relative;
  height: 80%;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid darkgoldenrod;
}
.sliderDiv:focus{ 
    outline: 0;
}
/* Popup CSS */
.dot {
    color: white;
    position: absolute;
    padding: 10px;
    background: black;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 0px;
    -webkit-transition: all 2s; /* Safari */
    transition: all 1s;
  }
  .dot:hover {
    text-indent: auto;
    width: auto;
    font-size: 12px;
    z-index: 1;
    border-radius: 0;
  }
  .dot4 {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 60%;
  }
  .dot5 {
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 47.5%;
  }
  .dot6 {
    position: absolute;
    z-index: 1;
    top: 71%;
    left: 40%;
  }
  .dot7 {
    position: absolute;
    z-index: 1;
    top: 27%;
    left: 42%;
  }
  .dot8 {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 55%;
  }
  .dot9 {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 45%;
  }
/* Drag and Drop CSS */
  .wordBank {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 300px;
    left: 10.5%;
    width: 10.5%;
    height: 24.6%;
    background-color: orange;
    z-index: 1
  }
.drag {
  position: relative;
  width: 100%;
  background-color: rgb(32, 32, 34);
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.drop1 {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 35.5%;
  right: 36.5%;
  background-color: red;
  text-align: center;
  font-size: 90%;
  color: blue;
  z-index: 1;
}
.drop2 { 
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 53%;
  right: 27%;
  background-color: orange;
  text-align: center;
  font-size: 90%;
  color: blue;
  z-index: 1;
}
.drop3 {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 64.5%;
  right: 4.5%;
  background-color: yellow;
  text-align: center;
  font-size: 90%;
  color: blue;
  z-index: 1;
}
.drop4 {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 94.75%;
  right: 15%;
  background-color: green;
  text-align: center;
  font-size: 90%;
  color: blue;
  z-index: 1;
}
.drop5 {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 76.5%;
  right: 61%;
  background-color: blue;
  text-align: center;
  font-size: 90%;
  color: red;
  z-index: 1;
}
.drop6 {
  position: absolute;
  width: 10.5%;
  height: 4.1%;
  top: 37.5%;
  right: 75.5%;
  background-color: purple;
  text-align: center;
  font-size: 90%;
  color: pink;
  z-index: 1;
}
/* Testing animations */
.testenter {
  opacity: 0;
}
.testenteractive {
  opacity: 1;
  transition: opacity 200ms;
}
.testexit {
  opacity: 1;
}
.testexitactive {
  opacity: 0;
  transition: opacity 200ms;
}