.divClass {
    position: relative;
    height: 100%;
    width: 100%;
}
.imgClass {
    position: absolute;
    height: 100%;
    width: 100%;
}
.buttonClassnext {
    position: absolute;
    right: 10%;
    bottom: 15%;
    z-index: 1;
}
.buttonClassback {
    position: absolute;
    left: 10%;
    bottom: 15%;
    z-index: 1;
}
.audioPlayer{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.slide2Image {
    position: absolute;
    height: auto;
    width: 5%;
    z-index: 1;
    left: 0;
    top: 0;
}
.slide4Button {
    position: absolute;
    z-index: 1;
    left: 30%;
    bottom: 30%
}
.popUp {
    position: absolute;
    z-index: 2;
    background-color: orange;
    font-size: 25px;
    width: 80%;
    margin: auto;
    top: 50%;
}