.cls1 {
  fill: #2f2c4f;
}

.cls2 {
  fill: #334d82;
}

.cls3 {
  fill: #52062f;
}

.cls4 {
  fill: #b53333;
}

.cls5 {
  fill: #333;
}

.geneContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
  min-width: 600px;
}

.geneSvg {
  width: 85%;
  min-width: 600px;
  /* height: 115.34px; */
  align-self: center;
}

.geneLabel {
  flex-basis: 5%;
  font-size: 1rem;
  padding-right: 20px;
}
