.Map {
    position: absolute;
    left: 12.5%;
    height: calc(100% - 160px); /* 5 pixels from top image */
    bottom: 50px;
    width: 75%;
    opacity: 0.9;
    border: 10px solid transparent;
    object-fit: contain;
}
