@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Carta Marina Bold";
  src: url("./assets/fonts/carta_marina_bold.otf");
}
@font-face {
  font-family: "Goodlife Sans";
  src: url("./assets/fonts/goodlife_sans.otf");
}
@font-face {
  font-family: "Source Serif Pro Regular";
  src: url("./assets/fonts/source_serif_pro_regular.otf");
}

@layer utilities {
  .transition-normal {
    @apply transition duration-500 ease-in-out;
  }

  .transition-fast {
    @apply transition duration-300 ease-in-out;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
